*{
    margin: 0;
    padding: 0;
}

.hub{
    /* background-color: white;
    width: 800px; */
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.hub1{
    width: 50%;
    border-right: 2px solid white;
}

.hub1>p{
    border: 1px solid black;
    width: 400px;
    margin-left: 150px;
    color: white;
}

.hub3{
   margin-left: 50px;
    display: flex;
    flex-direction: row;
}
.hub3>p{
    margin-left: 10px;
}

.hub3>img{
    width: 35px;
    height: 35px;
}
#gambar22{
    width: 30px;
    height: 30px;
}

#gambar33{
    width: 30px;
    height: 30px;
}
.hub3>p{
    color: white;
}

.kata{
    margin-top: 50px;
}

.kata>h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.active{
    margin-left: 10px;
}




