*{
    margin: 0;
    padding: 0;
}
.konten1{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.konten1>img{
    width: 600px;
    height: 400px;
    margin-left: 70px;
    margin-top: 5px;
}
.text7{
    width: 600px;
    margin-left: 15px;
}

.text7>p{
    font-size: 15px;
    margin-left: 15px;
}

#judul{
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

