*{
    margin: 0;
    padding: 0;
}

.konten{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 200px;
}

.konten img{
    width: 200px;
    height: 350px;
}

.konten1 {
 
    width: 600px;
    margin-left: 100px;
    margin-top: 20px;
}

.konten1>button{
    width: 150px;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.konten1>h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}