
*{
    margin: 0;
    padding: 0;
}

.konten>img{
    width: 500px;
    height: 250px;
    margin-left: 150px;
    margin-top: 25px;
}

.konten{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
}

.textaja{
    width: 400px;
    margin-left: 150px;
  
}

.textaja>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 10px;
   
    
}

.textaja>p{
    font-size: 15px;
    margin-left: 10px;
}

#biru{
    color: rgba(0, 132, 255, 0.87);
    font-size: 70px;
}

#kuning{
    color: rgb(243, 243, 57);
    font-size: 70px;
}

.textaja>button{
    margin-top: 15px;
    margin-left: 10px;
    height: 40px;
    width: 120px;
    
    border: none;
    background-color: rgba(0, 119, 255, 0.808);   
}

.textaja>button:hover{
    background-color: rgba(0, 119, 255, 0.582);   
}

.kotak{
    color: white;
    font-weight: 30px;
    font-size: 15px;
   
    text-decoration: none;
}